{
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "singleQuote": true,
    "overrides": [
        {
            "files": ["**/*.json", ".prettierrc"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["**/*.yml", "**/*.yaml"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
