# Editor
.vscode/

# Project definitions
.github/
.gitignore
jsconfig.json
pnpm-lock.yaml
pnpm-workspace.yaml

# Linting
.pre-commit-config.yaml
.markdownlint.yaml
.prettierrc
.prettierignore
eslint.config.*

# Development
vsc-extension-quickstart.md

# Tests
test/
.vscode-test/
.vscode-test.*
**/*.map

